<!DOCTYPE html>

<!-- This website template was created by : Connor Lance -->

<html lang="en">
<head>
	<link rel="stylesheet" href="css/styles.css">
	<title>Connor's Universe Facts</title>
	<meta charset="utf-8">
</head>


<body>
	<!-- Use the header area for the website name or logo -->
	<header>
	Connor's Universe Facts
	</header>
	
	<!-- Use the nav area to add hyperlinks to other pages within the website -->
	<nav>
	<a href="index.html">Home</a> &nbsp; &nbsp;
	<a href="information.html">Information</a> &nbsp; &nbsp;
	<a href="sources.html">Sources</a> &nbsp; &nbsp;
	</nav>
	
	<!-- Use the main area to add the main content of the webpage -->
	<main>
	</main>
	
	<!-- Use the footer area to add webpage footer content -->
	<footer>
	<a href="mailto:clance2@student.clayton.edu">clance2@student.clayton.edu</a> <br>
	
	</footer>
	
</body>
</html>